
@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
  margin: 0;
  font-family:  sans-serif;
  
}

h3{
  font-family: 'Pacifico', cursive;
  color: #f4952c;
}

.content p{
   font-family: 'Quicksand', sans-serif;
   font-weight: 700;
   ;line-height: 1.3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #banner {
  background-image: url("../public/bannerImage3.jpg");
  background-position: center bottom;
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

} */


#myButton{
  @apply py-3 px-6 bg-[#f4952c] rounded-full text-white font-bold transition duration-300 ease-in-out w-fit;
}

nav .tab a.active{
  color: #f4952c;
}

.modal {
  position: absolute;
  top: 140px;
  right: -20px;;
  transform: translateX(-50%) translateY(10px);
  display: none;
  z-index: 1;
}

#modalImage{
  background-image: url("../public/cartnew.png");
  background-position: center;
  /* height: fit-content; */
  /* width: 100%; */
  background-repeat: no-repeat;
  background-size: cover;

}

#mainBanner{
  background-image: url("../public/baked.png");
  background-position: center;
  /* height: fit-content; */
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal #modalImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.button:hover + .modal {
  display: block;
}

@media screen and (max-width: 768px) {
  /* #blackheader {
   
  } */
}
  



